In [5]:
import geopandas as gpd
import pandas as pd
import shapely
import matplotlib.pyplot as plt
import seaborn as sns
import geojson
import json
import sqlalchemy

In [9]:
buildings = gpd.read_file('buildings.geojson')
walk_net = gpd.read_file('walk_net.geojson')

In [10]:
icheri_bbox = [49.787120819091804, 40.34543205311642, 49.89629745483399, 40.38467041737864]
center = (
    (icheri_bbox[1] + icheri_bbox[3]) / 2,
    (icheri_bbox[0] + icheri_bbox[2]) / 2,
)
center

(40.365051235247535, 49.8417091369629)

In [19]:
# connection = psycopg2.connect(
#     host="localhost",
#     database="urban",
#     user="postgres",
#     password="postgres")

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/IcheriSheher')

In [20]:
# change type of goemetry column to GEOMETRY(GEOMETRY, 4326) in the navigation.buildings table
from sqlalchemy import create_engine, text

connection = engine.connect()

statement = text("""
ALTER TABLE navigation.buildings
ALTER COLUMN geometry TYPE GEOMETRY(GEOMETRY, 4326)
USING ST_SetSRID(geometry, 4326);
""")
connection.execute(statement)

In [12]:
import psycopg2

# Replace these with your actual credentials
host = 'localhost'  # or the host of your database
database = 'IcheriSheher'
user = 'postgres'
password = 'postgres'
port = '5432'  # default PostgreSQL port

# Establish the connection
conn = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password,
    port=port
)

# Create a cursor to execute SQL queries
cur = conn.cursor()

# Example: Select all rows from the buildings table
cur.execute("SELECT * FROM navigation.buildings LIMIT 10;")
rows = cur.fetchall()

for row in rows:
    print(row)

# Close the cursor and connection
cur.close()
conn.close()

(1, 'Baku Old City Gate', 'Gate', 'Tourist Attraction', 'Original medieval entrance to the city', 'Medieval Architecture', None, '24/7', '0103000020E610000001000000050000004260E5D022EB4840022B8716D92E4440A5BDC11726EB4840022B8716D92E4440A5BDC11726EB48406688635DDC2E44404260E5D022EB48406688635DDC2E44404260E5D022EB4840022B8716D92E4440', datetime.datetime(2025, 2, 18, 17, 22, 2, 128095), datetime.datetime(2025, 2, 18, 17, 22, 2, 128095))
(2, 'Double Gate', 'Gate', 'Tourist Entrance', 'Main entrance to the old city', 'Medieval', '12th century', '24/7', '0103000020E610000001000000050000003333333333EB4840F4FDD478E92E444097900F7A36EB4840F4FDD478E92E444097900F7A36EB4840575BB1BFEC2E44403333333333EB4840575BB1BFEC2E44403333333333EB4840F4FDD478E92E4440', datetime.datetime(2025, 2, 18, 17, 32, 5, 55036), datetime.datetime(2025, 2, 18, 17, 32, 5, 55036))
(3, 'Muhammad Mosque', 'Religious', 'Active Mosque', 'Historical place of worship', 'Islamic Architecture', '11th century', '05:00-22:00', '0103000020E610000001000000050000002575029A08EB48403B70CE88D22E444089D2DEE00BEB48403B70CE88D22E444089D2DEE00BEB48409FCDAACFD52E44402575029A08EB48409FCDAACFD52E44402575029A08EB48403B70CE88D22E4440', datetime.datetime(2025, 2, 18, 17, 32, 5, 55036), datetime.datetime(2025, 2, 18, 17, 32, 5, 55036))
(4, 'Hamam Museum', 'Museum', 'Exhibition Space', 'Former public bathhouse', 'Traditional Bath House', '15th century', '10:00-18:00', '0103000020E61000000100000005000000174850FC18EB4840C9E53FA4DF2E44407AA52C431CEB4840C9E53FA4DF2E44407AA52C431CEB48402D431CEBE22E4440174850FC18EB48402D431CEBE22E4440174850FC18EB4840C9E53FA4DF2E4440', datetime.datetime(2025, 2, 18, 17, 32, 5, 55036), datetime.datetime(2025, 2, 18, 17, 32, 5, 55036))

In [7]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 929.6 kB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 1.1 MB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 1.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [24]:
# load buildings to navigation.buildings table
buildings.to_postgis(
    'buildings',
    connection,
    schema='navigation',
    if_exists='append'
)

ImportError: 'to_postgis()' requires geoalchemy2 package.

In [28]:
walk_net.head()

,osm_id,name,tags,osm_timestamp,length,geometry
0,493137433,8 Noyabr prospekti,"{ ""name:az"": ""8 Noyabr prospekti"", ""name:en"": ...",1726731627,2759.0,"MULTILINESTRING ((49.88152 40.37909, 49.88214 ..."
1,498123135,8 Noyabr prospekti,"{ ""name:az"": ""8 Noyabr prospekti"", ""name:en"": ...",1726731627,2656.0,"MULTILINESTRING ((49.8963 40.37792, 49.89581 4..."
2,355882636,None,None,1687728115,58.0,"LINESTRING (49.89515 40.3782, 49.89582 40.37815)"
3,1126331802,None,None,1672599178,23.0,"LINESTRING (49.89477 40.37819, 49.89504 40.37818)"
4,273281565,None,None,1397140838,24.0,"LINESTRING (49.89173 40.37823, 49.89201 40.37823)"

In [29]:
# load walk_net to navigation.roads table
walk_net.to_postgis(
    'roads',
    connection,
    schema='navigation',
    if_exists='append'
)