In [1]:
import geopandas as gpd
import pandas as pd
import shapely
import matplotlib.pyplot as plt
import seaborn as sns
import geojson
import json
import sqlalchemy

In [2]:
buildings = gpd.read_file('buildings.geojson')
walk_net = gpd.read_file('walk_net.geojson')

In [3]:
icheri_bbox = [49.787120819091804, 40.34543205311642, 49.89629745483399, 40.38467041737864]
center = (
    (icheri_bbox[1] + icheri_bbox[3]) / 2,
    (icheri_bbox[0] + icheri_bbox[2]) / 2,
)
center

(40.365051235247535, 49.8417091369629)

In [4]:
# connection = psycopg2.connect(
#     host="localhost",
#     database="urban",
#     user="postgres",
#     password="postgres")

engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/IcheriSheher')

In [14]:
# change type of goemetry column to GEOMETRY(GEOMETRY, 4326) in the navigation.buildings table
from sqlalchemy import create_engine, text

connection = engine.connect()

statement = text("""
SELECT * FROM navigation.buildings;
""")
connection.execute(statement)

In [6]:
import psycopg2

# Replace these with your actual credentials
host = 'localhost'  # or the host of your database
database = 'IcheriSheher'
user = 'postgres'
password = 'postgres'
port = '5432'  # default PostgreSQL port

# Establish the connection
conn = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password,
    port=port
)

In [ ]:
# Create a cursor to execute SQL queries
cur = conn.cursor()

# Example: Select all rows from the buildings table
cur.execute("SELECT * FROM navigation.buildings;")
rows = cur.fetchall()

for row in rows:
    print(row)

# Close the cursor and connection
cur.close()
conn.close()

In [24]:
# load buildings to navigation.buildings table
buildings.to_postgis(
    'buildings',
    connection,
    schema='navigation',
    if_exists='append'
)

In [23]:
from sqlalchemy import text

# Using text() to make the query executable
with connection.engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM navigation.buildings'))
    print(result.fetchall())  # Use fetchall() to retrieve all results

[]

In [26]:
import geopandas as gpd
from sqlalchemy import create_engine

# Assuming 'buildings' is a GeoDataFrame
# Create a SQLAlchemy engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/IcheriSheher')

# Make sure the table exists or create it
# If it doesn't, use if_exists='replace' to create it
buildings.to_postgis(
    'buildings',             # Name of the table in PostgreSQL
    engine,                  # SQLAlchemy engine
    schema='navigation',     # Schema name in PostgreSQL
    if_exists='append',      # If table exists, append data
    index=False,             # Don't include DataFrame index in the table
    dtype={'geometry': 'Geometry'},  # Ensure proper geometry type if needed
)

In [27]:
# load walk_net to navigation.roads table
walk_net.to_postgis(
    'roads',             # Name of the table in PostgreSQL
    engine,                  # SQLAlchemy engine
    schema='navigation',     # Schema name in PostgreSQL
    if_exists='append',      # If table exists, append data
    index=False,             # Don't include DataFrame index in the table
    dtype={'geometry': 'Geometry'},  # Ensure proper geometry type if needed
)

In [29]:
b1=pd.read_csv('buildings.csv')

In [32]:
b1

,718,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,0103000020E610000001000000070000000000000012E9484000000080812C4440000000C01CE9484000000000762C44400000006012E9484000000060702C4440000000000DE9484000000040762C4440000000400AE94840000000C0742C44400000000005E94840000000607A2C44400000000012E9484000000080812C4440,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270.1,"{""building"": ""manufacture""}",1080122419,1658350114
0,719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E61000000100000005000000000000000DE9...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,249222450,1385831969
1,720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E6100000010000000500000000000080FCE8...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,249222464,1385831970
2,721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E61000000100000005000000000000C00DE9...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,249222479,1385831971
3,722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E61000000100000005000000000000202DE9...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,249222457,1385831970
4,723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E610000001000000050000000000006079E9...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,249222446,1658438114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3407,4126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E610000001000000090000000000000024EC...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,"{""building"": ""apartments""}",994067258,1655857514
3408,4127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E6100000010000000400000000000060C0EB...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,384854903,1480953241
3409,4128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E61000000100000005000000000000403FEB...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,191700610,1353409178
3410,4129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0103000020E6100000010000000400000000000000AAEC...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,384862434,1449509979
3411,4130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0106000020E61000000200000001030000000100000005...,2025-02-23 03:14:27.516270,2025-02-23 03:14:27.516270,NaN,384858648,1449509171

In [31]:
buildings.shape

(3413, 5)

In [34]:
buildings[buildings['osm_id']=='203356887']

Empty GeoDataFrame
Columns: [osm_id, name, tags, osm_timestamp, geometry]
Index: []

In [44]:
import psycopg2
from neo4j import GraphDatabase

# PostgreSQL Connection
pg_conn = psycopg2.connect(
    dbname="IcheriSheher",
    user="postgres",
    password="postgres",
    host="localhost",
    port="5432"
)

# Neo4j Connection
neo4j_driver = GraphDatabase.driver(
    "bolt://localhost:7687", 
    auth=("neo4j", "neo4j_password")
)

def convert_value(value):
    """
    Convert values to Neo4j-compatible types
    """
    # Convert None to null
    if value is None:
        return None
    
    # Convert to appropriate type
    if isinstance(value, (int, float, str, bool)):
        return value
    
    # Convert other types to string
    return str(value)

def transfer_buildings():
    try:
        # PostgreSQL cursor
        pg_cursor = pg_conn.cursor()
        
        # Fetch all buildings
        pg_cursor.execute("SELECT * FROM navigation.roads")
        buildings = pg_cursor.fetchall()
        
        # Get column names
        pg_cursor.execute("""
            SELECT column_name 
            FROM information_schema.columns 
            WHERE table_name = 'roads' AND table_schema = 'navigation'
        """)
        columns = [col[0] for col in pg_cursor.fetchall()]
        
        # Neo4j session for transferring data
        with neo4j_driver.session() as session:
            # Clear existing building nodes
            session.run("MATCH (b:Roads) DETACH DELETE b")
            
            # Transfer each building
            for building in buildings:
                # Create a dictionary of building properties with converted values
                building_props = {
                    col: convert_value(val) 
                    for col, val in zip(columns, building)
                }
                
                # Create Cypher query to create building node
                create_query = (
                    "CREATE (b:Roads {" + 
                    ", ".join([f"{col}: ${col}" for col in building_props.keys()]) + 
                    "})"
                )
                
                # Execute the create query
                try:
                    session.run(create_query, building_props)
                except Exception as inner_err:
                    print(f"Error creating building node: {inner_err}")
                    print(f"Problematic properties: {building_props}")
        
        print(f"Successfully transferred {len(buildings)} buildings")
    
    except Exception as e:
        print(f"An error occurred during transfer: {e}")
    
    finally:
        # Ensure connections are closed
        try:
            pg_cursor.close()
        except:
            pass
        
        try:
            pg_conn.close()
        except:
            pass
        
        try:
            neo4j_driver.close()
        except:
            pass

# Run the transfer
transfer_buildings()

# Verification (optional, can be run separately)
def verify_transfer():
    with neo4j_driver.session() as session:
        result = session.run("MATCH (b:Roads) RETURN COUNT(b) AS building_count")
        count = result.single()['building_count']
        print(f"Total buildings transferred: {count}")

# Uncomment to verify
# verify_transfer()

Successfully transferred 5478 buildings